<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">

<head>
	<head th:fragment="headerFragment">
    	<title th:include=":: #pageTitle">Layout Generic Title</title>
	</head>
	
	<head th:fragment="css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

	</head>
	<head th:fragment="js">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</head>

	
</head>
<body>
	
	
<div class="container">

<nav th:fragment="navbar" (navbarTitle) class="navbar fixed-top navbar-dark bg-dark">
	<a class="navbar-brand" th:href="@{/}">SIPEG</a>
	 <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	
  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a th:text="${navbarTitle}" class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
    
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pegawai
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/pegawai/tambah}">Tambah Pegawai</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/pegawai/cari}">Cari Pegawai</a>
          
          
        </div>
      </li>
      
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Jabatan
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/jabatan/tambah}">Tambah Jabatan</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" th:href="@{/jabatan/viewall}">Lihat Semua Jabatan</a>
          
        </div>
      </li>
      
    </ul>
    
  </div>
  	
  		
</nav>
</div>


</body>
</html>