<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/fragment :: headerFragment"></object>
	<title id="pageTitle">Error Page</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<style>
		.title {
		  padding:75px;
		 text-align: center;
		  color: black;
		  font-size: 18px;
		}
	</style>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar (navbarTitle='Error Page')"></nav>
	<div class="title">
		<h2>SIPEG - Sistem Informasi Kepegawaian</h2>
	<p>Mohon pilih nilai dengan tepat:)</p>
			
	</div>

</body>
</html>