<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/fragment :: headerFragment"></object>
	<title id="pageTitle">Cari Pegawai</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<script th:src="@{/js/pegawai.js}"></script>
	<style>
		.title {
			padding:75px;
		 text-align: center;
		  color: black;
		  font-size: 18px;
		}
		.container-fluid{
			padding:50px;
		}
	</style>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar (navbarTitle='Cari Pegawai')"></nav>
	
		<div class="container-fluid">

		<div class="title">
			<h2>SIPEG - Sistem Informasi Kepegawaian</h2>
			<h1> Pencarian Pegawai</h1>
			
		</div>
		<form th:action=@{/pegawai/cari} th:object="${pegawai}" method ="GET">
			<div class="form-group row">
				<label for="provinsi" class="col-sm-4 col-form-label">Provinsi</label>
				<select id="provinsi" name="idProvinsi" onchange="showInstansi()">
					<option value="" disabled selected>Pilih Provinsi</option>
					<option th:each="provinsi : ${allProvinsi}"
						th:value="${provinsi.id}" th:text="${provinsi.nama}">Provinsi</option>
				</select>
			</div>
			<div class="form-group row">
				<label for="instansi" class="col-sm-4 col-form-label">Nama Instansi</label> 
				<select id="instansi" name="idInstansi" onchange="showJabatan()">
					<option value="" disabled selected>Pilih Instansi</option>
					<option th:each="instansi : ${allInstansi}" th:value="${instansi.id}" th:text="${instansi.nama}">Instansi</option>
				</select>
			</div>
			<div class="form-group row">
				<label for="jabatan" class="col-sm-4 col-form-label">Jabatan</label>
				<select id="jabatan" name="idJabatan" class="col-sm-5">
					<option value="" disabled selected>Pilih Jabatan</option>
					<option th:each="jabatan : ${allJabatan}" th:value="${jabatan.id}"
						th:text="${jabatan.nama}">Jabatan</option>
				</select>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Cari</button>
			</div>
		</form>
		<br>
		<table id="table_id" class="display" style="width: 100%">
			<thead>
				<tr>
					<th>NIP</th>
					<th>Nama</th>
					<th>Tempat Lahir</th>
					<th>Tanggal Lahir</th>
					<th>Tahun Masuk</th>
					<th>Nama Instansi</th>
					<th>Jabatan</th>
				</tr>
			</thead>
			<tbody id="body-table">
				<span th:each="pegawai : ${selectedPegawai}">
					<tr th:each="jabatan : ${pegawai.jabatan}">
							<td><a th:href="@{'/pegawai?nip='+${pegawai.nip}}" th:text="${pegawai.nip}"></a></td>
							<td th:text="${pegawai.nama}"></td>
							<td th:text="${pegawai.tempatLahir}"></td>
							<td th:text="${pegawai.tanggalLahir}"></td>
							<td th:text="${pegawai.tahunMasuk}"></td>
							<td th:text="${pegawai.instansi.nama}"></td>
							<td th:text="${jabatan.nama}"></td>
					</tr>
				</span>
			</tbody>
			
		</table>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<script>
		$(document).ready(function() {
			var table = $('#table_id').DataTable();
		});
	</script>
	</body>
</html>