<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/fragment :: headerFragment"></object>
	<title id="pageTitle">Semua Jabatan</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<style>
		
	.title {
		padding:75px;
		 text-align: center;
		  color: black;
		  font-size: 18px;
		}
	</style>
<body>
	<nav th:replace="fragments/fragment :: navbar (navbarTitle='Semua Jabatan')"></nav>
	
	<div class="title">
				<h2>SIPEG - Sistem Informasi Kepegawaian</h2>
			<h1> Lihat Semua Jabatan</h1>
			
	</div>
	<div class="container-fluid">
			<table id="table_id" class="display" style="width:100%">
	        <thead>
	            <tr>
	                <th>Nama</th>
	                <th>Deskripsi</th>
	                <th>Gaji Pokok</th>
	                <th>Jumlah Pegawai</th>
	            </tr>
	        </thead>
	        <tbody>
	        	<tr th:each="jabatan : ${jabatanList}">
	        		<td th:text="${jabatan.nama}"></td>
	        		<td th:text="${jabatan.deskripsi}"></td>
	        		<td th:text="${jabatan.gaji_pokok}"></td>
	        		<td th:text="${pegawaiNumOnJabatan['__${jabatan.id}__']}"></td>
	        	</tr>
	        </tbody>
	        
	    </table>
	</div>
	<br>
	<br>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	
	<script>
	$(document).ready( function () {
	    $('#table_id').DataTable();
	} );
	</script>
	</body>
</html>